<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre destinatario</th>
        <th scope="col">Rut</th>
        <th scope="col">Banco</th>
        <th scope="col">Tipo de cuenta</th>
        <th scope="col">Monto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">fdgdfg</th>
        <td>45452523-3</td>
        <td>XXXXxxxxx</td>
        <td>ZZZZZZZ</td>
        <td>$99,999</td>
      </tr>
      <tr>
        <th scope="row">fdgdfg</th>
        <td>45452523-3</td>
        <td>XXXXxxxxx</td>
        <td>ZZZZZZZ</td>
        <td>$99,999</td>
      </tr>
      <tr>
        <th scope="row">fdgdfg</th>
        <td>45452523-3</td>
        <td>XXXXxxxxx</td>
        <td>ZZZZZZZ</td>
        <td>$99,999</td>
      </tr>
    </tbody>
  </table>